* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b5838d;
}

html,
body {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #6d6875;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .search-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.search-form {
  position: relative;
  background-color: #ffcdb2;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}
@media screen and (min-width: 768px) {
  .search-form {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.search-form input {
  background-color: #ffcdb2;
  border: 0em;
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #6d6875;
  cursor: pointer;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60px;
  border: 0px;
  border-left: 4px solid #6d6875;
  border-radius: 0 10px 10px 0;
  background-color: #ffb4a2;
}

.submit-icon {
  text-align: center;
  background-color: #ffb4a2;
  height: 45px;
  width: 45px;
  fill: #6d6875;
}

.load-more {
  display: block;
  justify-content: center;
  margin: 25px auto 0;
  cursor: pointer;
  border: 0;
  margin-bottom: 20px;
  background-color: #b5838d;
}

.load-more__icon {
  text-align: center;
  background-color: #ffcdb2;
  width: 60px;
  height: 60px;
  fill: #6d6875;
  border-radius: 50%;
  border: 4px solid #6d6875;
  padding: 5px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.load-more.is-hidden {
  display: none;
}

.btn-up {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  bottom: 3vh;
  right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffcdb2;
  opacity: 0;
  visibility: hidden;
}

.btn-up__visible {
  opacity: 1;
  visibility: visible;
}

.btn-up__icon {
  text-align: center;
  background-color: #ffcdb2;
  height: 60px;
  width: 60px;
  padding: 5px;
  fill: #6d6875;
  border-radius: 50%;
  border: 4px solid #6d6875;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.gallery-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
}
@media screen and (min-width: 480px) {
  .gallery-box,
  .search-box {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-box,
  .search-box {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-box,
  .search-box {
    width: 1200px;
  }
}

.gallery {
  padding-top: 100px;
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  grid-template-columns: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery {
    grid-template-columns: auto auto;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: auto auto auto auto;
    padding-top: 50px;
  }
}

.photo-card {
  display: block;
  margin-top: 0;
  border-radius: 10px;
  background-color: #ffcdb2;
}

.photo-card img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.gallery__link {
  text-decoration: none;
  border-radius: 10px;
  border: 3px solid #ffcdb2;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ffcdb2;
  background-color: #6d6875;
  border-radius: 0 0 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info__item {
  font-size: 11px;
  text-align: center;
  background-color: #6d6875;
}

.info__item span {
  font-weight: bold;
  background-color: #6d6875;
}

//switch-btn
.btn-switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  span.switcher {
    position: relative;

    width: 200px;
    height: 50px;
    border-radius: 25px;

    .input-switch {
      appearance: none;

      position: relative;

      width: 200px;
      height: 50px;
      border-radius: 25px;

      background-color: #ffcdb2;

      box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);

      &:before,
      &:after {
        z-index: 2;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        color: #6d6875;
      }
      &:before {
        font-weight: 100;
        content: 'Scroll';
        left: 20px;
      }
      &:after {
        font-weight: 500;
        content: 'Load more';
        right: 20px;
      }
    }
    label {
      z-index: 1;
      position: absolute;
      top: 10px;
      bottom: 10px;

      border-radius: 20px;
    }
    .input-switch {
      transition: 0.25s -0.1s;
      &:checked {
        background-color: #ffcdb2;
        &:before {
          font-weight: 500;
          color: #ffcdb2;
          transition: color 0.5s 0.2s;
        }
        &:after {
          font-weight: 100;
          color: #6d6875;
          transition: color 0.5s;
          cursor: pointer;
        }
        & + label {
          left: 10px;
          right: 110px;

          background: #6d6875;

          transition: left 0.5s, right 0.4s 0.2s;
        }
      }
      &:not(:checked) {
        background: #b5838d;
        transition: background 0.5s -0.1s;
        &:before {
          color: #6d6875;
          transition: color 0.5s;
          cursor: pointer;
        }
        &:after {
          color: #b5838d;
          transition: color 0.5s 0.2s;
        }
        & + label {
          left: 95px;
          right: 10px;

          background: #ffcdb2;

          transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
        }
      }
    }
  }
}
