<div class="header">
  <div class="search-box">
    <form class="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" search-btn>
        <svg class="submit-icon">
          <use xlink:href="images/icons.svg#icon-submit"></use>
        </svg>
      </button>
    </form>
    <!-- switch-btn -->
    <div class="btn-switch">
      <span class="switcher">
        <!-- <button class="btn-load"></button>
        <button class="btn-scroll"></button> -->
        <input class="input-switch" type="checkbox" id="switcher" />
        <label for="switcher"></label>
      </span>
    </div>
  </div>
</div>
<div class="gallery-box" id="gallery-box">
  <!-- <div class="btn-switch2"> -->
  <!-- <span class="switcher2"> -->
  <!-- <button class="btn-load2"></button> -->
  <!-- <button class="btn-scroll2"></button> -->
  <!-- <input class="input-switch2" type="checkbox2" id="switcher2" /> -->
  -->
  <!-- <label for="switcher2"></label> -->
  <!-- </span> -->
  <!-- </div> -->

  <div class="gallery"></div>
  <button type="button" class="load-more">
    <svg class="load-more__icon">
      <use xlink:href="images/icons.svg#icon-more"></use>
    </svg>
  </button>
  <a href="#gallery-box" class="btn-up"
    ><svg class="btn-up__icon">
      <use xlink:href="images/icons.svg#icon-scroll"></use></svg
  ></a>
</div>
